.contenedor {
    background-color: lightgray; /* Cambiar por el color deseado */
    padding: 20px; /* Ajustar el relleno según el diseño */
    border-radius: 10px; /* Agregar bordes redondeados */
  }